/* var */
/* reset */
html, body, div, img, header, section, ul, ol, li {
  padding: 0;
  margin: 0;
  font-family: 'microsolf yahei'; }

h1 {
  font-size: 4em;
  font-family: 'microsolf yahei';
  font-weight: 200;
  animation: text 4s infinite alternate ease-in-out; }

a {
  text-decoration: none; }

/* page style */
.container .row:first-child {
  border-top: 0; }

.list-item {
  box-sizing: border-box; }
  .list-item > div {
    top: 50%;
    left: 50%;
    position: relative; }

.text-center {
  text-align: center; }

.location-icon {
  margin-right: 5px; }

.shapes-top {
  display: block;
  height: 320px;
  background: #1fa67a url("../images/crissxcross.png");
  overflow: hidden;
  color: #fff;
  padding: 15px;
  box-sizing: border-box; }

.useful-links {
  padding: 8px 0;
  text-align: center;
  background-color: #f5f5f5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd; }
  .useful-links ul {
    list-style: none; }
    .useful-links ul li {
      display: inline-block;
      padding: 0 15px;
      line-height: 30px; }
      .useful-links ul li:hover {
        background: #fff; }
  .useful-links a {
    color: #999;
    font-size: 14px; }

.shapes-footer {
  display: block;
  height: 220px;
  width: 100%;
  background: #1fa67a url("../images/crissxcross.png");
  overflow: hidden;
  color: #fff; }
  .shapes-footer .btn {
    margin-top: 60px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px 12px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    min-width: 120px;
    color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 16px; }

.test {
  height: 100%; }

/* break your brain */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 740px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1160px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.shapes .shapes-item {
  height: 300px;
  position: relative; }
  .shapes .shapes-item:hover {
    background: #f8f8f8; }

/* base shapes */
.line {
  margin-top: -1px;
  margin-left: -50px;
  width: 100px;
  height: 0;
  border-bottom: 5px solid #ccc; }

.line-top-bottom {
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  border-top: 5px solid #ccc;
  border-bottom: 5px solid #ccc; }

.line-left-right {
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  border-left: 5px solid #ccc;
  border-right: 5px solid #ccc; }

.line-top-right {
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  border-right: 5px solid #ccc;
  border-top: 5px solid #ccc; }

.line-border {
  margin-top: -55px;
  margin-left: -55px;
  width: 100px;
  height: 100px;
  border: 5px solid #ccc; }

.line-border-radius {
  margin-top: -55px;
  margin-left: -55px;
  width: 100px;
  height: 100px;
  border-radius: 16px;
  border: 5px solid #ccc; }

.line-border-circle {
  margin-top: -55px;
  margin-left: -55px;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  border: 5px solid #ccc; }

.line-border-oval {
  margin-top: -55px;
  margin-left: -105px;
  width: 200px;
  height: 100px;
  border-radius: 100px / 50px;
  border: 5px solid #ccc; }

.square {
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: #ccc; }

.rectangle {
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  background: #ccc; }

.rectangle {
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  background: #ccc; }

.circle {
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: #ccc;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }

.oval {
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  background: #ccc;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px; }

.triangle-up {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ccc; }

.triangle-down {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #ccc; }

.triangle-left {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #ccc;
  border-bottom: 50px solid transparent; }

.triangle-right {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #ccc;
  border-bottom: 50px solid transparent; }

.triangle-top-left {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 100px solid #ccc;
  border-right: 100px solid transparent; }

.triangle-top-right {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 100px solid #ccc;
  border-left: 100px solid transparent; }

.triangle-bottom-left {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ccc;
  border-right: 100px solid transparent; }

.triangle-bottom-right {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ccc;
  border-left: 100px solid transparent; }

.triangle-up-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ccc; }
  .triangle-up-o:before {
    content: '';
    position: absolute;
    top: 14px;
    left: -40px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid #fff; }

.triangle-down-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #ccc; }
  .triangle-down-o:before {
    content: '';
    position: absolute;
    top: -94px;
    left: -40px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 80px solid #fff; }

.triangle-left-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #ccc;
  border-bottom: 50px solid transparent; }
  .triangle-left-o:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 14px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 80px solid #fff;
    border-bottom: 40px solid transparent; }

.triangle-right-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #ccc;
  border-bottom: 50px solid transparent; }
  .triangle-right-o:before {
    content: '';
    position: absolute;
    top: -40px;
    left: -94px;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-left: 80px solid #fff;
    border-bottom: 40px solid transparent; }

.triangle-top-left-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 100px solid #ccc;
  border-right: 100px solid transparent; }
  .triangle-top-left-o:before {
    content: '';
    position: absolute;
    top: -94px;
    left: 6px;
    width: 0;
    height: 0;
    border-top: 80px solid #fff;
    border-right: 80px solid transparent; }

.triangle-top-right-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-top: 100px solid #ccc;
  border-left: 100px solid transparent; }
  .triangle-top-right-o:before {
    content: '';
    position: absolute;
    top: -94px;
    left: -86px;
    width: 0;
    height: 0;
    border-top: 80px solid #fff;
    border-left: 80px solid transparent; }

.triangle-bottom-left-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ccc;
  border-right: 100px solid transparent; }
  .triangle-bottom-left-o:before {
    content: '';
    position: absolute;
    top: 14px;
    left: 6px;
    width: 0;
    height: 0;
    border-bottom: 80px solid #fff;
    border-right: 80px solid transparent; }

.triangle-bottom-right-o {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-bottom: 100px solid #ccc;
  border-left: 100px solid transparent; }
  .triangle-bottom-right-o:before {
    content: '';
    position: absolute;
    top: 14px;
    left: -86px;
    width: 0;
    height: 0;
    border-bottom: 80px solid #fff;
    border-left: 80px solid transparent; }

.trapezoid {
  margin-top: -50px;
  margin-left: -100px;
  border-bottom: 100px solid #ccc;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;
  width: 100px; }

.parallelogram {
  margin-top: -50px;
  margin-left: -93px;
  width: 150px;
  height: 100px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
  background: #ccc; }

.star-six {
  margin-top: -50px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #ccc;
  position: relative; }
  .star-six:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #ccc;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px; }

.star-five {
  margin-top: -30px;
  margin-left: -100px;
  position: relative;
  display: block;
  color: #ccc;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #ccc;
  border-left: 100px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg); }
  .star-five:before {
    border-bottom: 80px solid #ccc;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); }
  .star-five:after {
    position: absolute;
    display: block;
    color: #ccc;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ccc;
    border-left: 100px solid transparent;
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    content: ''; }

.pentagon {
  margin-top: -25px;
  margin-left: -45px;
  position: relative;
  width: 54px;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: #ccc transparent; }
  .pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent #ccc; }

.hexagon {
  margin-top: -27px;
  margin-left: -50px;
  width: 100px;
  height: 55px;
  background: #ccc;
  position: relative; }
  .hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #ccc; }
  .hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #ccc; }

.octagon {
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background: #ccc;
  position: relative; }
  .octagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid #ccc;
    border-left: 29px solid #f8f8f8;
    border-right: 29px solid #f8f8f8;
    width: 42px;
    height: 0; }
  .octagon:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid #ccc;
    border-left: 29px solid #f8f8f8;
    border-right: 29px solid #f8f8f8;
    width: 42px;
    height: 0; }

.heart {
  margin-top: -45px;
  margin-left: -50px;
  position: relative;
  width: 100px;
  height: 90px; }
  .heart:before, .heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #ccc;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%; }
  .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }

.infinity {
  margin-top: -50px;
  margin-left: -106px;
  position: relative;
  width: 212px;
  height: 100px; }
  .infinity:before, .infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid #ccc;
    -moz-border-radius: 50px 50px 0 50px;
    border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
    border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }

.diamond {
  margin-top: -100px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #ccc;
  position: relative;
  top: -50px; }
  .diamond:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #ccc; }

.diamond-shield {
  margin-top: -100px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 20px solid #ccc;
  position: relative;
  top: -50px; }
  .diamond-shield:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 20px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #ccc; }

.diamond-narrow {
  margin-top: -115px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 70px solid #ccc;
  position: relative;
  top: -50px; }
  .diamond-narrow:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 70px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top: 70px solid #ccc; }

.cut-diamond {
  margin-top: -50px;
  margin-left: -50px;
  border-style: solid;
  border-color: transparent transparent #ccc transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  position: relative; }
  .cut-diamond:after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #ccc transparent transparent transparent;
    border-width: 70px 50px 0 50px; }

.egg {
  margin-top: -90px;
  margin-left: -63px;
  display: block;
  width: 126px;
  height: 180px;
  background-color: #ccc;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50%  / 60% 60% 40% 40%; }

.pacman {
  margin-top: -60px;
  margin-left: -60px;
  width: 0px;
  height: 0px;
  border-right: 60px solid transparent;
  border-top: 60px solid #ccc;
  border-left: 60px solid #ccc;
  border-bottom: 60px solid #ccc;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px; }

.talkbubble {
  margin-top: -40px;
  margin-left: -55px;
  width: 120px;
  height: 80px;
  background: #ccc;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }
  .talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #ccc;
    border-bottom: 13px solid transparent; }

.burst-12 {
  margin-top: -40px;
  margin-left: -40px;
  background: #ccc;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center; }
  .burst-12:before, .burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: #ccc; }
  .burst-12:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg); }
  .burst-12:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg); }

.burst-8 {
  margin-top: -40px;
  margin-left: -50px;
  background: #ccc;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg); }
  .burst-8:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: #ccc;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg); }

.css-text {
  margin-top: -50px;
  margin-left: -150px;
  width: 300px;
  height: 100px;
  text-align: center;
  color: #ccc; }
  .css-text:before, .css-text:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
  .css-text:before {
    content: '{79px}';
    top: 0;
    font-size: 30px;
    line-height: 50px; }
  .css-text:after {
    content: 'This paragraph written in the Css!';
    top: 70px; }

.create .create-item {
  position: relative;
  height: 300px; }
  .create .create-item:nth-child(6n) {
    background: #b2cc95; }
  .create .create-item:nth-child(6n+1) {
    background: #eee3b5; }
  .create .create-item:nth-child(6n+2) {
    background: #99bb73; }
  .create .create-item:nth-child(6n+3) {
    background: #e4d38c; }
  .create .create-item:nth-child(6n+4) {
    background: #cbddb7; }
  .create .create-item:nth-child(6n+5) {
    background: #f8f3de; }

/* create so much */
.triangle-up-tree {
  margin-top: -100px;
  margin-left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #1fa67a; }
  .triangle-up-tree:before {
    content: '';
    position: absolute;
    top: 40px;
    left: -50px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #1fa67a; }
  .triangle-up-tree:after {
    content: '';
    position: absolute;
    top: 140px;
    left: -5px;
    width: 10px;
    height: 50px;
    background: #795548; }

.ba-gua {
  margin-top: -55px;
  margin-left: -50px;
  width: 96px;
  height: 48px;
  background: #fff;
  border-color: #000;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%; }
  .ba-gua:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    border: 18px solid #000;
    border-radius: 100%;
    width: 12px;
    height: 12px; }
  .ba-gua:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    border: 18px solid #fff;
    border-radius: 100%;
    width: 12px;
    height: 12px; }

.badge-ribbon {
  margin-top: -65px;
  margin-left: -50px;
  position: relative;
  background: #8BC34A;
  height: 100px;
  width: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
  .badge-ribbon:before, .badge-ribbon:after {
    content: '';
    position: absolute;
    border-bottom: 70px solid #8BC34A;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    top: 70px;
    left: -10px;
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    -o-transform: rotate(-140deg); }
  .badge-ribbon:after {
    left: auto;
    right: -10px;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg); }

.magnifying-glass {
  margin-top: -55px;
  margin-left: -50px;
  font-size: 10em;
  /* This controls the size. */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border: 0.085em solid #607D8B;
  position: relative;
  border-radius: 0.35em; }
  .magnifying-glass:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.1em;
    border-width: 0;
    background: #607D8B;
    width: 0.35em;
    height: 0.08em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }

.facebook-icon {
  margin-top: -60px;
  margin-left: -65px;
  background: #3B5A9B;
  text-indent: -999em;
  width: 100px;
  height: 110px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 15px solid #3B5A9B;
  border-bottom: 0; }
  .facebook-icon:before {
    content: "/20";
    position: absolute;
    background: #3B5A9B;
    width: 40px;
    height: 90px;
    bottom: -30px;
    right: -37px;
    border: 20px solid #fff;
    border-radius: 25px; }
  .facebook-icon:after {
    content: "/20";
    position: absolute;
    width: 55px;
    top: 50px;
    height: 20px;
    background: #fff;
    right: 5px; }

.moon {
  margin-top: -55px;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 #2196F3; }

.cross {
  margin-top: -50px;
  margin-left: -15px;
  background: #FF9800;
  height: 100px;
  position: relative;
  width: 20px; }
  .cross:after {
    background: #FF9800;
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px; }

.create-computer {
  margin-top: 50px;
  margin-left: -90px;
  width: 200px;
  height: 18px;
  background: #ddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  .create-computer:before, .create-computer:after {
    content: "";
    display: block;
    position: absolute;
    margin: auto; }
  .create-computer:before {
    width: 160px;
    height: 90px;
    border: 13px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: lightblue;
    top: -116px;
    left: 6px; }
  .create-computer:after {
    width: 60px;
    height: 10px;
    background: #888;
    left: 0;
    right: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

.burger {
  margin-top: -12px;
  margin-left: -50px;
  height: 25px;
  width: 100px;
  background-color: #5B3715;
  border-radius: 2px; }
  .burger:before, .burger:after {
    content: "";
    width: 98px;
    position: absolute;
    left: 50%;
    background-color: #C4A06A;
    transform: translate(-50%, 0); }
  .burger:before {
    height: 16px;
    top: -20px;
    border-radius: 50% 50% 0 0; }
  .burger:after {
    height: 12px;
    top: 28px;
    border-radius: 0 0 50% 50%; }

.tag-green {
  margin-top: -11px;
  margin-left: -45px;
  display: inline-block;
  height: 22px;
  padding: 10px 28px 10px 60px;
  border: 0 solid transparent;
  border-radius: 4px 1px 1px 4px;
  background: #1abc9c;
  box-shadow: 0 5px 0 0 #16a085, 5px 5px 0 0 #16a085; }
  .tag-green:before, .tag-green:after {
    display: inline-block;
    position: absolute;
    content: ""; }
  .tag-green:before {
    z-index: 1;
    width: 30px;
    height: 30px;
    top: 6px;
    right: -16px;
    border: 0 solid #1abc9c;
    border-radius: 1px 1px 4px;
    background: #1abc9c;
    box-shadow: 0 6px 0 0 #16a085;
    -moz-transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    -webkit-transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1);
    transform: rotateY(1deg) rotateZ(-45deg) scaleX(1) scaleY(1) scaleZ(1); }
  .tag-green:after {
    z-index: 2;
    width: 12px;
    height: 12px;
    top: 16px;
    right: 0;
    border: 0 solid #018dc4;
    border-radius: 10px;
    background: #fcfcfc;
    box-shadow: 5px 5px 0 0 #16a085 inset; }

.slack-icon {
  margin-top: -60px;
  margin-left: -60px;
  width: 120px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
  height: 120px;
  border-radius: 15px;
  background: linear-gradient(-15deg, rgba(227, 25, 109, 0.5) 30%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(129, 209, 222, 0.5) 70%), linear-gradient(-107deg, rgba(235, 178, 35, 0.5) 30%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 70%, rgba(75, 196, 160, 0.5) 70%), #fff; }
  .slack-icon:after {
    content: '{79px}';
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #5c3b57;
    width: 120px;
    height: 120px;
    display: block; }

.man {
  margin-top: -40px;
  margin-left: -15px;
  background: #607D8B;
  border-radius: 10px;
  display: block;
  height: 50px;
  width: 30px; }
  .man:before, .man:after {
    content: '';
    position: absolute;
    background: #607D8B; }
  .man:before {
    border-radius: 50px;
    width: 25px;
    height: 25px;
    left: 3px;
    top: -30px; }
  .man:after {
    border-radius: 10px;
    box-shadow: 50px 0 0 0 #607D8B, 15px 55px 0 0 #607D8B, 35px 55px 0 0 #607D8B;
    width: 10px;
    height: 50px;
    left: -15px;
    top: 0; }

.chrome {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: linear-gradient(180deg, #ee6150 0%, #ee6150 40px, transparent 40px, transparent 100%), linear-gradient(295deg, #fdd800 0%, #fdd800 55px, transparent 55px, transparent 100%), linear-gradient(50deg, #58be5b 0%, #58be5b 70px, transparent 70px, transparent 100%);
  transform: translate(-50%, -50%);
  overflow: hidden; }
  .chrome:before, .chrome:after {
    content: '';
    position: absolute; }
  .chrome:before {
    width: 0;
    height: 0;
    border-bottom: 70px solid #58be5b;
    border-bottom-width: 80px;
    border-bottom-style: solid;
    border-bottom-color: #58BE5B;
    border-right: 13px solid transparent;
    border-right-width: 35px;
    border-right-style: solid;
    border-right-color: transparent;
    border-left: 22px solid transparent;
    border-left-width: 18px;
    border-left-style: solid;
    border-left-color: transparent;
    left: -4px;
    top: 12px;
    -webkit-transform: rotate(113deg);
    transform: rotate(113deg); }
  .chrome:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3c8fc8;
    border: 5px solid #dbdbdb; }

.pacman-animate {
  background-image: radial-gradient(10px at 85px 50%, white 0%, white 10px, rgba(0, 0, 0, 0.3) 11px, transparent 12px);
  background-position: 131px 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  animation: do-the-pac 1s linear infinite;
  transform: translate3d(-50%, -50%, 0); }
  .pacman-animate:hover {
    overflow: visible; }
  .pacman-animate:before, .pacman-animate:after {
    content: "";
    background-color: gold;
    width: 150%;
    height: 100%;
    position: absolute;
    left: -40%;
    animation: wakawaka .5s linear infinite alternate; }
  .pacman-animate:hover:before, .pacman-animate:hover:after {
    background-color: rgba(255, 215, 0, 0.5); }
  .pacman-animate:before {
    top: -50%;
    transform-origin: bottom center;
    transform: rotate(-30deg); }
  .pacman-animate:after {
    bottom: -50%;
    transform-origin: top center;
    transform: rotate(30deg); }

@keyframes do-the-pac {
  50% {
    background-position: 0 0; }
  50.001%, 100% {
    background-position: 135px; } }
@keyframes wakawaka {
  100% {
    transform: none; } }
.drip {
  width: 200px;
  height: 250px;
  margin-left: -100px;
  margin-top: -125px;
  position: relative; }
  .drip:before {
    position: absolute;
    left: 92.5px;
    top: 0;
    content: '';
    width: 15px;
    height: 15px;
    background-color: #FFF;
    border-radius: 50%;
    opacity: 0;
    animation: drip 4s ease infinite; }
  .drip:after {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0px;
    height: 0px;
    border: solid 4px #FFF;
    border-radius: 50%;
    opacity: 0;
    animation: splash 4s ease infinite; }

@keyframes drip {
  10% {
    top: 0;
    opacity: 1;
    animation-timing-function: cubic-bezier(0.24, 0, 0.76, 0.14); }
  25% {
    opacity: 1;
    top: 200px;
    animation-timing-function: ease-out;
    width: 15px;
    height: 15px;
    left: 92.5px; }
  30% {
    opacity: 1;
    top: 160px;
    width: 5px;
    height: 5px;
    animation-timing-function: ease-in;
    left: 97.5px; }
  33% {
    top: 200px;
    opacity: 0;
    animation-timing-function: ease-out;
    left: 97.5px; }
  33.001% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes splash {
  0% {
    opacity: 0; }
  25% {
    bottom: 50px;
    left: 100px;
    opacity: 0;
    width: 0px;
    height: 0px; }
  25.001% {
    opacity: 1; }
  33% {
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 200px;
    height: 100px; }
  33.001% {
    bottom: 50px;
    left: 100px;
    opacity: 1;
    width: 0px;
    height: 0px; }
  43% {
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 200px;
    height: 100px; }
  43.001% {
    opacity: 0; } }
.coffee-mug {
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  background: #3F2616;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #442918, 0 0 0 25px #3C2415, 0 0 0 42px #fe9407, 0 0 0 65px #FEAA3A, 0 120px 0 -25px #3C2415, 100px 70px 0 -20px #3C2415, 80px 110px 0 -15px #3C2415, 0px 210px 0 -55px #3C2415, 20px 250px 0 -65px #3C2415; }
  .coffee-mug::before {
    content: '';
    position: absolute;
    height: 60px;
    width: 40px;
    top: -85px;
    right: -75px;
    background: #E49934;
    border-radius: 5px;
    box-shadow: inset 0px 50px 0 0px #FEAA3A;
    z-index: 0;
    transform: rotate(45deg); }
  .coffee-mug::after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    border: 3px solid #77665C;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.2;
    animation: rings 3s ease-out infinite; }

@keyframes rings {
  to {
    width: 60px;
    height: 60px;
    opacity: 0; } }
.impress .col-2 {
  position: relative;
  height: 300px; }
  .impress .col-2:nth-child(4n) {
    background: rgba(97, 188, 249, 0.35); }
  .impress .col-2:nth-child(4n+1) {
    background: rgba(97, 188, 249, 0.35); }
  .impress .col-2:nth-child(4n+2) {
    background: rgba(214, 219, 194, 0.36); }
  .impress .col-2:nth-child(4n+3) {
    background: rgba(214, 219, 194, 0.36); }

.loader {
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  animation: anim-rotate 1.2s infinite ease; }
  .loader:before, .loader:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 10px;
    opacity: .9; }
  .loader::before {
    background: #00a7ce;
    transform: translate(-0.75em, -0.75em) scale(1);
    box-shadow: 1.5em 1.5em 0 #72c45a;
    animation: anim-1-2 1.2s infinite ease; }
  .loader:after {
    background: #f963a3;
    transform: translate(0.75em, -0.75em) scale(1);
    box-shadow: -1.5em 1.5em 0 #f78221;
    animation: anim-3-4 1.2s infinite ease; }
@keyframes anim-1-2 {
  50% {
    transform: scale(1.3) translate(0, 0);
    box-shadow: 0 0 0 #72c45a;
    opacity: .8; } }
@keyframes anim-3-4 {
  50% {
    transform: scale(1.3) translate(0, 0);
    box-shadow: 0 0 0 #f78221;
    opacity: .8; } }
@keyframes anim-rotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(720deg); } }
@media (max-width: 900px) {
  .col-3 {
    width: 50%; } }
@media (max-width: 600px) {
  .col-3 {
    width: 100%; }

  h1 {
    font-size: 2em; } }
/* css3 animate */
@keyframes text {
  0% {
    transform: rotateX(-10deg) rotateY(-20deg); }
  100% {
    transform: rotateX(10deg) rotateY(20deg); } }